<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="icon" type="image/png" href="./images/logo_128.png">
    <title>Zoomies for Business</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/index.css">
</head>

<body>
    <div class="paper container">
        <nav class=" fixed split-nav">
            <div class="nav-brand">
                <h3>
                    <a href="/"><img class="logo" src="./images/logo_128.png" alt="Extension Home"></a>
                </h3>
            </div>
            <div class="collapsible">
                <input id="collapsible1" type="checkbox" name="collapsible1">
                <button class="menu-button">
        <label for="collapsible1">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </label>
        </button>
                <div class="collapsible-body">
                    <ul class="inline">
                        <li><a href="/">Home</a></li>
                        <li><a href="/#about">About</a></li>
                        <li><a href="/#updates">Updates</a></li>
                        <li><a href="/#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="heading-content">
            <h1 class="title center-text">Zoomies for Business</h1>
            <h4 class="subtitle center-text">For brands with the <span class="subtitle-change" >Need for Speed</span></h4>
        </div>
        <hr class="big-vertical-margin" />
        <article class="article">
            <p class="text-lead">What is Zoomies for Business?</p>
            <p class="text-lead">
                Every domain could use a Speed dialer. Zoomies' philosophy of focussing on key points first draws consumers into exploring your brand and the simply-designed layout makes it easy for them to navigate to your platform for further business. Minimalism is the marketing trend that exudes the philosophy of “less is more.” Clear and concise information, well-designed layout, and simple packaging are highly valued by consumers. Customers are more likely to engage with a simple display of information versus an overwhelming smorgasbord of superfluity. 
                <br><br>
                The following are some pictorial representations of speed-dialing use-cases to draw inspiration from. If you would like to discuss about how integrating Zoomies with your brand will add to your customers' experience (especially during the pandemic times), drop me an <a href="mailto:support@portd.io">email</a> today.
        </article>
        <!-- <hr class="big-vertical-margin" /> -->
        <div class="row extension-cards">
            <div class="sm-12 md-6 lg-4 extension-card">
                <div class="card">
                    <img class="extension-images" src="./images/business/customer-support.png" alt="Customer Support">

                    <div class="card-body">
                        <h4 class="card-title">Customer Support Tracking</h4>
                        <p class="card-text">Abstract out your Ticket Management software - Declutter your operator's work and keep your customers happy.</p>
                    </div>
                </div>
            </div>
            <div class="sm-12 md-6 lg-4 extension-card">
                <div class="card">
                    <img class="extension-images" src="./images/business/movies.png" alt="Movies and Events">

                    <div class="card-body">
                        <h4 class="card-title">Live Events and Movies</h4>
                        <p class="card-text">With artists going online for performing events, draw more audience with a one-click booking option.</p>
                    </div>
                </div>
            </div>
            <div class="sm-12 md-6 lg-4 extension-card">
                <div class="card">
                    <img class="extension-images" src="./images/business/news.png" alt="News and Blogs">

                    <div class="card-body">
                        <h4 class="card-title">News/Blogs Feed</h4>
                        <p class="card-text">A neat way to keep readers engaged with your content with timely minimal headlines.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row extension-cards">
            <div class="sm-12 md-6 lg-4 extension-card">
                <div class="card">
                    <img class="extension-images" src="./images/business/edtech.png" alt="Edtech and distance learning">

                    <div class="card-body">
                        <h4 class="card-title">EdTech</h4>
                        <p class="card-text">Simplify schedule planning and access to online classrooms for your teachers and students.</p>
                    </div>
                </div>
            </div>
            <div class="sm-12 md-6 lg-4 extension-card">
                <div class="card">
                    <img class="extension-images" src="./images/business/sales.png" alt="Sales">

                    <div class="card-body">
                        <h4 class="card-title">Sales</h4>
                        <p class="card-text">Allow your sales operators to connect with customers with one-click and save time.</p>
                    </div>
                </div>
            </div>
        </div>

        <hr class="big-vertical-margin" />
        <div class="row flex-spaces footer">
            <div class="alert alert-primary">© Copyright 2021 zoomiesoncall.online . <a class="privacy-policy" href="privacy-policy">Privacy Policy</a><a href="terms-of-service">Terms of Service</a></div>
        </div>
    </div>
</body>

</html>