<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" href="./images/favicon.svg" />
    <link rel="stylesheet" href="./css/output.css" />
    <title>Portd</title>
  </head>
  <body class="text-gray-800 antialiase">
    <nav
      class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 bg-black"
    >
      <div
        class="container px-4 mx-auto flex flex-wrap items-center justify-between"
      >
        <img src="./images/portedlogonew.svg" alt="" class="h-10 lg:h-16" />
        <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
          <li class="flex items-center">
            <button
              onclick="download()"
              href="https://chrome.google.com/webstore/detail/zoomies/idcinedpcpdoaompmjnmhcpeiohijcjd"
              role="button"
              class="bg-grey-light hover:bg-grey text-white font-bold py-2 px-4 rounded-2xl border-2 border-white inline-flex items-center"
            >
              <svg
                width="25"
                height="24"
                viewBox="0 0 25 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M21 11H19.5V7C19.5 5.9 18.6 5 17.5 5H13.5V3.5C13.5 2.83696 13.2366 2.20107 12.7678 1.73223C12.2989 1.26339 11.663 1 11 1C10.337 1 9.70107 1.26339 9.23223 1.73223C8.76339 2.20107 8.5 2.83696 8.5 3.5V5H4.5C3.4 5 2.51 5.9 2.51 7V10.8H4C5.49 10.8 6.7 12.01 6.7 13.5C6.7 14.99 5.49 16.2 4 16.2H2.5V20C2.5 21.1 3.4 22 4.5 22H8.3V20.5C8.3 19.01 9.51 17.8 11 17.8C12.49 17.8 13.7 19.01 13.7 20.5V22H17.5C18.6 22 19.5 21.1 19.5 20V16H21C21.663 16 22.2989 15.7366 22.7678 15.2678C23.2366 14.7989 23.5 14.163 23.5 13.5C23.5 12.837 23.2366 12.2011 22.7678 11.7322C22.2989 11.2634 21.663 11 21 11Z"
                  fill="white"
                />
              </svg>
              <span class="ml-2"> Download </span>
            </button>
          </li>
        </ul>
      </div>
    </nav>
    <main>
      <div
        class="relative pt-16 lg:pb-32 pb-20 flex content-center items-center justify-center bg-black max-w-full"
        style="min-height: 70vh"
      >
        <div class="container relative mx-auto">
          <div class="items-center flex flex-wrap">
            <div
              class="w-full lg:w-6/12 px-4 ml-auto mr-auto lg:text-left text-center"
            >
              <div
                class="dark:hidden bg-[#5558DE] absolute rounded-tl-full rounded-tr-full w-64 h-64 blur-3xl overflow-hidden -z-1 -left-[100px] top-20"
              ></div>
              <div
                class="dark:hidden hidden lg:block bg-[#5558DE] absolute rounded-full w-64 h-64 blur-3xl overflow-clip -z-1 -right-0 -top-10"
              ></div>
              <div class="lg:pl-24">
                <h1 class="text-[#7779DE]/90 text-5xl font-[510] mt-4">
                  One place.
                </h1>
                <h1 class="text-[#5558DE]/90 font-[510] text-5xl mt-2">
                  One click.
                </h1>
                <div class="mt-2">
                  <span class="text-white font-thin text-6xl mt-2">Get</span
                  ><span class="text-white font-semibold text-6xl">
                    Portd.</span
                  >
                </div>
                <p class="mt-4 text-lg text-gray-300">
                  The smart
                  <span class="font-semibold text-[#5558DE]/90">Chrome</span>
                  and
                  <span class="font-semibold text-[#5558DE]/90">Firefox</span>
                  extension that allows you to join all your virtual meetings
                  from one-place with one-click.
                </p>
                <div class="mt-4 mb-10 lg:mb-0">
                  <button
                    onclick="download()"
                    class="bg-[#5558DE] text-white text-xs font-bold uppercase px-24 py-3 rounded-xl shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mt-2 lg:mb-0 ml-0 mb-3"
                  >
                    Free Download
                  </button>
                </div>
              </div>
            </div>
            <div
              class="w-full lg:w-6/12 px-4 mr-auto text-center lg:float-right justify-center lg:pl-32 lg:pt-0 pt-4 lg:ml-0 ml-10"
            >
              <div class="w-full md:w-6/12 ml-auto mr-auto px-4 lg:mt-20">
                <img
                  alt="..."
                  class="h-96 rounded-lg shadow-lg"
                  src="./images/screen1new.svg"
                />
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="hidden md:block bg-[#5558DE]/70 absolute rounded-full w-80 h-80 blur-3xl overflow-hidden z-0 -left-24 -top-6"></div> -->
      </div>
      <section class="pb-20 bg-gray-700">
        <div class="container mx-auto px-4">
          <div class="flex flex-wrap justify-center">
            <div
              class="lg:m-12 m-6 w-full px-4 text-center text-white text-4xl font-semibold"
            >
              Multi-Platform Support
            </div>
            <div class="grid justify-items-center lg:flex lg:flex-wrap">
              <div
                class="lg:pt-0 pt-6 w-full lg:w-3/12 md:w-12/12 px-12 justify-center"
              >
                <img src="./images/zoom.svg" alt="" />
              </div>
              <div
                class="lg:pt-1 pt-6 w-full lg:w-3/12 md:w-12/12 px-12 justify-center"
              >
                <img src="./images/goto.svg" alt="" />
              </div>
              <div
                class="lg:pt-1 pt-6 w-full lg:w-3/12 md:w-12/12 px-12 justify-center"
              >
                <img src="./images/teams.svg" alt="" />
              </div>
              <div
                class="lg:pt-1 pt-6 w-full lg:w-3/12 md:w-12/12 px-12 justify-center"
              >
                <img src="./images/cisco.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="py-20 bg-black">
        <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
          style="height: 80px"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-white fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
        <div class="container mx-auto px-4">
          <div
            class="dark:hidden bg-[#5558DE]/40 absolute rounded-full w-80 h-80 blur-3xl overflow-hidden z-0 -left-10"
          ></div>
          <div class="items-center flex flex-wrap">
            <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
              <img
                alt="..."
                class="max-w-full rounded-lg shadow-lg"
                src="./images/screen2new.svg"
              />
            </div>
            <div
              class="w-full md:w-5/12 ml-auto mr-auto px-4 flex items-center flex-wrap lg:text-left text-center"
            >
              <div class="md:pr-12">
                <h1 class="text-4xl font-semibold text-white text-[#7779DE]/90">
                  Streamline your
                </h1>
                <h1 class="text-4xl font-semibold text-white text-[#7779DE]/90">
                  remote meetings.
                </h1>
                <p class="mt-4 text-lg leading-relaxed text-gray-400">
                  Whether you’re a Project Manager with an overwhelming number
                  of meetings, a freelancer working for multiple clients, or a
                  student with daily online lectures, it’s time to streamline
                  your daily schedule.
                </p>
                <div class="mt-4">
                  <button
                    onclick="download()"
                    class="bg-[#5558DE] text-white text-xs font-bold uppercase px-24 py-3 rounded-xl shadow hover:shadow-md outline-none focus:outline-none mt-2"
                  >
                    Free Download
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="pb-8 bg-[#5558DE] pt-6">
        <div
          class="w-full px-4 text-center text-white text-4xl font-semibold mt-8"
        >
          Early adopters love Portd
        </div>
        <div class="container mx-auto px-4 text-center">
          <div class="flex flex-wrap p-6 mb-4">
            <div class="pt-6 w-full md:w-4/12 px-4 text-center">
              <img src="./images/test1new.svg" alt="" />
            </div>
            <div class="pt-6 w-full md:w-4/12 px-4 text-center">
              <img src="./images/test2new.svg" alt="" />
            </div>
            <div class="pt-6 w-full md:w-4/12 px-4 text-center">
              <img src="./images/test3new.svg" alt="" />
            </div>
          </div>
        </div>
      </section>
      <section class="pb-0 bg-black">
        <div class="container mx-auto px-4 lg:pt-16 lg:pb-8 pb-4 pt-4">
          <div class="flex flex-wrap text-center justify-center">
            <div class="w-full lg:w-6/12 px-2">
              <h3 class="text-4xl font-semibold text-white pb-4">Get it on</h3>
              <h3 class="text-4xl font-semibold text-white pb-4">
                <span class="text-[#7779DE]/90">Chrome</span> and
                <span class="text-[#7779DE]/90">Firefox</span>
              </h3>
              <button
                onclick="download()"
                class="bg-[#5558DE] text-white text-xs font-bold uppercase px-24 py-3 rounded-xl shadow hover:shadow-md outline-none focus:outline-none mt-2"
              >
                Free Download
              </button>
            </div>
            <div
              class="dark:hidden bg-[#5558DE]/80 absolute rounded-full w-60 h-60 blur-3xl overflow-hidden z-0 -left-[60px]"
            ></div>
          </div>
        </div>
      </section>
    </main>
    <footer class="bg-black pt-8 pb-6">
      <hr class="my-6 border-gray-400" />
      <div class="container mx-auto px-4">
        <div class="flex flex-wrap items-end justify-end text-white underline">
          <a href="/privacy-policy" class="mx-2">Privacy</a>
          <a href="/terms-of-service" class="mx-2">Terms</a>
        </div>
        <div
          class="flex flex-wrap items-center md:justify-between justify-center flex-col"
        >
          <img src="./images/geometriclogonew.svg" alt="" class="max-h-16" />
          <div class="w-full md:w-4/12 px-4 mx-auto text-center">
            <div class="text-sm text-gray-600 font-semibold py-1">
              Portd 2022 - All rights reserved
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script>
    function download() {
      const userAgentString = navigator.userAgent;
      const isChrome = userAgentString.indexOf("Chrome") > -1;
      const isFirefox = userAgentString.indexOf("Firefox") > -1;

      if (isChrome) {
        window.location.href =
          "https://chrome.google.com/webstore/detail/zoomies/idcinedpcpdoaompmjnmhcpeiohijcjd";
      }

      if (isFirefox) {
        window.location.href = "https://addons.mozilla.org/en-US/firefox/addon/zoomies/";
      }
    }
  </script>
</html>
