<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" href="./images/favicon.svg" />
    <link rel="stylesheet" href="./css/output.css" />
    <title>Portd</title>
  </head>
  <body class="text-gray-800 antialiase bg-black">
    <main>
      <div
        class="relative pt-8 pb-16 flex content-center items-center justify-center bg-black"
        style="min-height: 30vh"
      >
        <div class="container relative mx-auto">
          <div class="flex flex-col flex-wrap justify-center text-center">
            <img src="./images/geometriclogonew.svg" alt="" class="ml-10 max-h-[8rem]" />
            <h1 class="text-white text-3xl mt-4">
              Privacy Policy
            </h1>
          </div>
        </div>
      </div>
      <section class="pb-20 bg-black">
        <div class="container mx-auto px-8 border-1 rounded-3xl text-white text-xl">
          <div class="m-2">
            Your privacy is important to us. It is Portd's policy to respect your privacy regarding any information we may collect from you across our website, <a href="index.html" class="text-[#5558DE]">portd.io</a>
          </div>

          <div class="m-2">
            We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be used.
          </div>

          <div class="m-2">
            Users can authenticate Portd to read their calendar events. We do not store any calendar related information of our users.
            We only retain collected information for as long as necessary to provide you with your requested service. We don’t share any personally identifying information publicly or with third-parties, except when required to by law.
          </div>

          <div class="m-2">
            Our website and software may link to external sites operated by Google, Microsoft and Calendly that are not operated by us. Please be aware that we have no control over the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies.
          </div>

          <div class="m-2">
            You are free to refuse our request for your calendar access, with the understanding that we may be unable to provide you with some of your desired services.
          </div>

          <div class="m-2">
            Your continued use of our website will be regarded as acceptance of our practices around privacy and personal information. If you have any questions about how we handle user data and personal information, feel free to contact us.
          </div>

          <div class="m-2 text-[#5558DE]">
            This policy is effective as of May 14, 2022.
          </div>
        </div>
      </section>
    </main>
    <footer class="bg-white pt-0 pb-0">
      <div class="container mx-auto px-0">
        <div
          class="flex flex-wrap items-center justify-center"
        >
        </div>
      </div>
    </footer>
  </body>
</html>
